:root {
    --btn-color: #770202;
    --background-body: #aaa7a7;
    --background-app: #888888;
    --text-checked: #4b4b4b;

    --text-color: #000000;

    --primary-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-body);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background-app);
    box-shadow: 0px 0px 8px black;
    padding: 2em 4em;
    border-radius: 10px;
}

.app h1 {
    font-size: 58px;
    margin: 0 0 20px 0;
}

.busca {
    display: flex;
    justify-content: center;
    margin: 0 0 2em 0;
    height: 4vh;
    width: 100%;
}

#text {
    border: none;
    border-radius: 6px;
    width: 90%;
}

#add {
    background-color: var(--btn-color);
    border: none;
    border-radius: 6px;
    width: 1.5em;
    cursor: pointer;

    color: white;
    text-justify: center;
    text-align: center;
    font-size: 1.3em;
    margin-left: 5px;
}

#lista {
    padding: 0;
    width: 100%;
}

#lista li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    list-style: none;
}

#lista li .xBtn {
    text-align: center;
    background-color: var(--btn-color);
    border-radius: 50%;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    height: 1.5em;
    width: 1.7em;
    color: white;
}

#lista li h2 {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
}

#lista li .checked {
    text-decoration: line-through;
    font-style: italic;
    color: var(--text-checked);
}